html, * {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #bfe3b4;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 4px 8px 20px 6px;
    font-size: 20px;
}

a {
    color:white;
}

 nav a:hover {
    text-shadow: 0 0 5px white;
}

header,
section,
footer {
    padding: 0;
}

.profile-photo {
    width: 150px;
    height: 150px;
    margin: 20px 0px 20px;
}

.work-items {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-item {
    position: relative;
    display: inline-block;
    width: 50%;
}

.featured {
    width: 100%;
    /* flex-basis: 400px;
    flex-grow: 1; */
}

.fluid-img {
    width: 50%;
}

.caption {
    position: absolute;
    margin: 16px;
    padding: 8px;
    background-color: #8aac7f8f;
    border: 4px dashed black;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 576px) {

}