html, * {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #bfe3b4;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 4px 8px 20px 6px;
    font-size: 20px;
}

a {
    color:white;
}

 nav a:hover {
    text-shadow: 0 0 5px white;
}

header,
section,
footer {
    padding: 0;
}

.border {
    border-width: 3px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    background-color: darkseagreen;
}

.profile-photo {
    width: 150px;
    height: 150px;
    margin: 20px 0px 20px;
}

.profile {
    display:flex;
    justify-content: center;
    align-items: center;

}

.work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-item {
    position: relative;
    display: inline-block;
    flex-direction:column;
    width: 50%;
    margin: 5x 5px;
}

.featured {
    width: 100%;
    /* flex-basis: 400px;
    flex-grow: 1; */
}

.fluid-img {
    width: 100%;
}

.caption {
    position: absolute;
    margin: 16px;
    padding: 8px;
    background-color: #8aac7f8f;
    border: 4px dashed black;
    bottom: 0;
    right: 0;
}

.about-paragraph {
    margin: 10px 10px;
    display: flex;
    flex-direction:column;
}
.contact-info {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    align-items: center;
}

.photo {
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    margin: 8px;
    filter: saturate(0.25) blur(10px);
}

.photo:hover {
    filter: saturate(1) blur(0px);
    transition: all 300ms ease-in-out;
}

.fin {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .work-item {
        width:100%;
    }
}